.AppBarLink {
    /* font: bold 11px Arial; */
    text-decoration: none;
    color: white;
}

.AppBarColapseLink {
    /* font: bold 11px Arial; */
    text-decoration: none;
    color: black;
}

.AppBarColapseLink:hover {
    text-decoration: underline;
}

.AppBarLink:hover {
    text-decoration: underline;
}

.Logo {
    height: 150px;
}