.SamplesPage {
    /* float: left;
    display: flex; */
}

.FirstPage {
    background: url('../images/samples_background_1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.SecondPage {
    /* background: url('../images/samples_background_2.jpg'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.FirstPageHeader {
    margin-top: 250px;
    margin-left: 100px;
    font-size: 50px;
    color: white;
}

.FirstPageInfo {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 18px;
    color: white;
}