@import url("HomePage.css");
@import url("SignUpPage.css");
@import url("HomePageBar.css");
@import url("SignInPage.css");
@import url("SamplesPage.css");
@import url("MyTracks.css");
@import url("AudioUploader.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  background-color: #0f0f24;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100%; */
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

