.MyTracksPage {
    color: white;
    text-align: center;
}

.Player {
    margin-top: 5%;
}

.Track {
    width: 100vh;
    margin: 0 auto;
}

.Waveform {
  width: 1000px;
}

.WaveForm {
    width: 100%;
    margin: 0 auto;
}