.SignUpPage {
    margin: 0;
    padding: 0;
    background-color: #0f0f24;
    color: white;
    /* height: 90vh; */
  }

.LogoLink {
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.TextField {
    color: 'red';
}